body {
    font-family: Arial, sans-serif;
    background-color: #af1515e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  
  .calculator {
    background-color: #1355a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    text-shadow:
  -1px -1px 1px #aaa,
  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);

  }
  
  input, select, button {
    margin: 10px;
    padding: 5px;
    
  }
  
  button {
    background-color: #1b6615;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #ee6e05;
  }
  
  #error {
    color: red;
  }
  